* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5; 
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300; 
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 24px; 
    padding-top: 16px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 800;
}

/* Header */

header {
    height: 48px;
    background-color: #FFFFFF; 
}

header .yellow_stripe {
    height: 8px;
    background-color: #FFF200;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 16px;
        letter-spacing: .25px;
        padding-left: 24px; 
    }

    h2 {
        font-size: 16px;
        line-height: 1.25;
    }

    body {
        background-color: #F09A9D;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF;
    }
}